.*
_*
*.yml
*.sh
*.md
*.xml
Dockerfile
LICENSE

node_modules
vendor

hooks
tests

storage/framework/cache/**
!storage/framework/cache/data/
storage/framework/cache/data/**
storage/framework/sessions/**
storage/framework/views/**
