// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
// Variables
//@import "variables";
// Bootstrap
@import '~bootstrap/scss/bootstrap';

/*
 * Globals
 */

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-secondary,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: .05rem solid #fff;
}

/*
 * Base structure
 */

html {
  background-color: #333;
}

body {
  background-color: rgba(0, 34, 97, 1);
}

html {
  height: 100%;
}

body {
  min-height: 100%;
}

body {
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  justify-content: center;
  color: #fff;
  text-shadow: 0 .05rem .1rem rgba(0, 0, 0, .5);
  box-shadow: inset 0 0 5rem rgba(0, 0, 0, .5);
  background-image: url("/img/cover.jpg");
  background-position: center;
  background-size: cover;
}

.cover-container {
  width: 42em;
  min-height: 100%;
}

/*
 * Header
 */
.masthead {
  margin-bottom: 2rem;
}

.masthead-brand {
  margin-bottom: 0;
}

.nav-masthead .nav-link {
  padding: .25rem 0;
  font-weight: 700;
  color: rgba(255, 255, 255, .5);
  background-color: transparent;
  border-bottom: .25rem solid transparent;
  margin-bottom: .5rem;
}

.nav-masthead .nav-link:hover,
.nav-masthead .nav-link:focus {
  border-bottom-color: rgba(255, 255, 255, .25);
}

.nav-masthead .nav-link + .nav-link {
  margin-left: 1rem;
}

.nav-masthead .active {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 48em) {
  .masthead-brand {
    float: left;
  }

  .nav-masthead {
    float: right;
  }
}

/*
 * Cover
 */
.cover {
  padding: 1.5rem 1.5rem;
  /*background-color: rgba(222, 222, 222, 0.4);*/
  background-color: rgba(0, 34, 97, 0.5);
  border-radius: 4px;
}

.cover .btn-lg {
  padding: .75rem 1.25rem;
  font-weight: 700;
}

/*
 * Footer
 */
.mastfoot,
.mastfoot a,
.mastfoot a:focus,
.mastfoot a:hover {
  color: rgba(255, 255, 255, .7);
}

.mastfoot .inner {
  margin-top: 1rem;
}
